*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    background-color:rgb(201, 236, 225);
}

header{
    display: flex;
    flex-direction: column;

}
header .header-section{   
    margin: 0 auto;
    font-size: 2rem;
}
header .header-section-nav{
    font-size: 1.6rem;
    display: flex;
}

header .header-section-nav{
    justify-content: flex-end;
}
header .header-nav-li{
    margin-right: 10px;
    display: inline-block;
    padding: 0;
    list-style-type: none;
}
header .header-nav-li a{
    color:#000;
    text-decoration: none;
}

main{
    display: flex;
    width: 100%;
}

main .main-section{
    background-color: aliceblue;
    font-size: 1.6rem;
    display: flex;
    width: 40%;
    height: 400px;
    border-radius: 20px;
    margin-top: 15px;
    margin:  0 auto;
}

main .main-section-container1{
    display: flex;
    flex-direction: column;

    width: 50%;
    margin: 15px;
}
main .main-container1-input{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

main .main-section-container1 input{
    width: 70%;
    height: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(188, 247, 227);
}

main .main-section-container1 button{
    width: 100px;
    margin-top: 33%;
}

main .main-section-container1 .main-container1-button{
    justify-content: center;
    display: flex;

}
main .main-section-container1 .main-container1-button button{
    margin-right: 15px;
    background-color: rgb(98, 228, 174);
    border: none;
    box-shadow: 1px 1px 5px black;
}

main .main-section-container2{
    border-radius: 20px;
    background-color: aquamarine;
    margin: 30px;
    width: 50%;
}